We have another project that this one will use - twitch-notifications. it lives at /home/ariabel/coding/stream/notifications - you have access to it. We do not want to make changes to that system, that is the job of another project and AI, we just want to understand how it works and make use of it.
